.appointment-with-optician{
   
    text-align: center;
    width: 100%;
    padding: 0 15px;

    @media (min-width:991px){
        display: none;
    }
    @media (min-width:1200px){
        display: none;
    }


    &__bold{
        font-family: "Roboto-Bold";
        font-size: 24px;
        text-transform: uppercase;
        line-height: 25px;

        top: 300px;
        left: 15px;
        //width: 330px;
        height: 82px;
    }
    &__txt{
        font-family: "Roboto-Regular";
        font-size: 16px;
        line-height: 21px;

        top: 393px;
        left: 15px;
        //width: 330px;
        //height: 135px;
        padding-bottom: 20px;
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__button{
        &--first{
        
            top: 539px;
            left: 79px;
            width: 203px;
            max-height: 55px;

            text-decoration: none;
            font-family: "Roboto-Bold";
            font-size: 16px;

            color: #FFF;
            background-color: #FFA200;
            padding: 17px 22px 17px 23px;
            border-radius: 38px;
            
            &:hover{
                transform: scale(.98);
            }
        }
        &--second{            
            top: 634px;
            left: 91px;
            width: 177px;
            height: 64px;
            padding-top: 40px;
                        
            &:hover{
                transform: scale(.98);
            }
        }
    }


}