.banner{
        width: 100%;
        height: 200px;
        background-image: url(/img/img01.png);
        background-size: cover;
        position: relative;
        
    @media (min-width:568px){
        height: 315px;
    }
    @media (min-width:991px){
        display: none;
    }
    @media (min-width:1200px){
        display: none;
    }

    &__image{
        background-image: none;
        position: absolute;
        top: 60px;
        left: 35px;

        

        &--img01{
            width: 123px;
            height: 79px;
            z-index: 2;
        }
        &--img02{
            width: 124px;
            height: 78px;
            z-index: 1;
        }
    }
}
