@font-face {
    font-family: "Roboto-Bold";
    src: url(/fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(/fonts/Roboto/Roboto-Thin.ttf);
}