.why-glasses{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 15px;

    @media (min-width:568px){
        max-width: 568px;
    }
    @media (min-width:991px){
        display: none;
    }
    @media (min-width:1200px){
        display: none;
    }

    &__title{
        text-align: center;
        top: 205px;
        width: 330px;
        height: 32px;
        font-size: 24px;

        font-family: "Roboto-Bold";
       
    }
    &__line{

        max-height: 4px;
        background-color: #0058A7;
        width: 145px;
        top: 783px;
        left: 108px;
        width: 145px;
        height: 4px;
    }
    &__maszyna{
        padding-top: 43px;
        padding-bottom: 26px;
        top: 266px;
        width: 129px;
        height: 210px;
    }

    &__list{
        width: 304px;
        display: block;
        font-size: 16px;
        line-height: 21px;
        font-family: "Roboto-Regular";
        list-style-image: url('/img/checked.svg');
        @media (min-width:568px){
            width: 100%;
            padding-left: 210px;
            line-height: 30px;
            
        }
    }

}
